<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<title>JungleTV</title>
	<meta name="description"
		content="A video sharing website where you can earn Banano for watching videos. The jukebox, reimagined for the internet video age!">
	<meta name="author" content="Segvault">

	<meta property="og:title" content="JungleTV">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ .FullURL }}">
	<meta property="og:description"
		content="A video sharing website where you can earn Banano for watching videos. The jukebox, reimagined for the internet video age!">
	<meta property="og:image" content="/assets/brand/banner.png">

	<meta name="jungletv-version-hash" content="{{ .VersionHash }}">

	<meta http-equiv="Content-Security-Policy"
		content="default-src https:; script-src 'self' https://youtube.com https://www.youtube.com https://w.soundcloud.com; frame-src https://youtube.com https://www.youtube.com https://w.soundcloud.com; style-src 'self' 'unsafe-inline'; img-src https: data:">

	<link rel="icon" type="image/png" href="/favicon.png">

	<link rel="manifest" crossorigin="use-credentials" href="jungletv.webmanifest">
</head>

<body style="height: 100vh; margin: 0">
	<div id="loading-message" style="position: fixed; z-index: 10000; height: 100%; width: 100%; background-color: #ccc;
		display: flex; justify-content: center; align-items: center; flex-direction: column;
		font-family: sans-serif">
		<div style="margin: 16px; text-align: center;">
			<div>
				<img src="/assets/brand/logo.svg" alt="JungleTV" style="height: 100px; display: inline" />
			</div>
			<div>
				Please wait while we load an amazonian amount of code and assets...
			</div>
			<noscript style="margin-top: 16px; display: block">
				JungleTV primarily provides a synchronized community video watching experience, which requires real-time
				communication with our servers and the ability to play YouTube videos.<br>
				For this reason, <strong>you must enable JavaScript in order to use JungleTV</strong>.
			</noscript>
		</div>
	</div>
	<script defer type="text/javascript" src="/build/bundle.js?v={{ .VersionHash }}"></script>
</body>

</html>